* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --bg-color: hsl(0, 0%, 0%);

  --bg-input-color: hsl(190, 66%, 7%);
  --ff-input-color: hsl(240, 6%, 51%);
  --bg-button-color: hsl(195, 91%, 25%);
  --ff-button-color: hsl(0, 0%, 100%);
  --bg-button-hover-color: hsl(0, 0%, 100%);
  --ff-button-hover-color: hsl(195, 91%, 25%);

  --tb-bg-head-color: hsl(194, 73%, 13%);
  --tb-ff-head-color: hsl(240, 9%, 89%);
  --tb-border-color: hsl(191, 31%, 42%);
  --tb-bg-tr-odd-color: hsl(194, 62%, 4%);
  --tb-bg-tr-even-color: hsl(190, 66%, 7%);
  --tb-border-tr-even-color: hsl(191, 31%, 42%);
  --tb-tr-remover-color: hsl(355, 91%, 66%);

  --no-favorites-p-color: hsl(189, 4%, 32%);
  --no-favorites-bg-color: hsl(192, 63%, 3%);
}

body,
input,
button {
  font-family: "Roboto", sans-serif;
}

body {
  color: white;
  background-color: var(--bg-color);
}

#app {
  width: min(112rem, 90%);
  margin-inline: auto;
  margin-top: 12rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 4.8rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.search input {
  padding: 1.6rem;
  width: 46.2rem;
  background-color: var(--bg-input-color);
  border: none;
  border-radius: 0.5rem;

  color: var(--ff-input-color);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.search button {
  padding: 1.2rem 3.2rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--bg-button-color);

  color: var(--ff-button-color);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 0.8rem;

  cursor: pointer;
}

.search button:hover {
  background-color: var(--bg-button-hover-color);
  color: var(--ff-button-hover-color);
}

.search button:hover svg path {
  fill: var(--ff-button-hover-color);
}

.wrapper {
  margin-top: 9rem;
  border: 1px solid var(--tb-border-color);
  border-radius: 1.2rem;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table * {
  font-size: 2rem;
  color: var(--tb-ff-head-color);
}

table th {
  padding: 1.6rem 4rem;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  background-color: var(--tb-bg-head-color);
}

table tr:nth-child(odd) {
  background-color: var(--tb-bg-tr-odd-color);
}

table tr:nth-child(even) {
  background-color: var(--tb-bg-tr-even-color);
  border: 1px solid var(--tb-border-tr-even-color);
}

table td {
  padding: 2.4rem 4rem;
}

td.user {
  display: flex;
  gap: 1.6rem;
}

td.user img {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

td,
td.user p,
td.user span,
td .remove {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}

td.user span {
  font-weight: 400;
}

.remove {
  background: none;
  border: none;
  color: var(--tb-tr-remover-color);
  cursor: pointer;
}

.no-favorites {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 21rem 0 28rem;
  gap: 6rem;

  background-color: var(--no-favorites-bg-color);
}

.no-favorites img {
  width: 13.2rem;
  height: 12.5rem;
}

.no-favorites p {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.47rem;
  color: var(--no-favorites-p-color);
}
